@import '../../../styles/settings.scss';

.footer {
	height: 50px;
	width: 100%;
	background-color: $color-background-dark;
	margin-top: 3rem;
	text-align: center;
	line-height: 50px;
	color: $font-color-silver;
}
