.container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 2rem 8rem;
	max-width: 1200px;
	width: 100%;
	margin-top: 100px;

	img {
		border-radius: 5px;
	}
	p {
		margin: 0.5rem 0;
	}
	.bold {
		font-weight: 800;
	}
}
