.container {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	padding: 2rem 8rem;
	max-width: 1200px;
	width: 100%;

    p{
        margin: 0.5rem 0;
    }
	.bold {
		font-weight: 800;
	}
}
