.root {
	width: 1400px;
	.container {
		border: 2px solid yellow;
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		padding: 2rem 10rem;
		margin-top: 150px;

		img {
			border-radius: 5px;
		}
		p {
			margin: 0.5rem 0;
		}
		.bold {
			font-weight: 800;
		}
	}
}
