@import '../../../styles/settings.scss';

.root {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	h2 {
		color: $color-yellow;
	}
	.btn {
		border-radius: 5px;
		padding: 1rem;
		background-color: $color-yellow;
		cursor: pointer;
		margin-top: 2rem;
		&:hover {
			background-color: $font-color-silver;
		}
	}
}
