@import '../../../styles/settings.scss';

.root {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	.teamColor {
		color: $font-color-silver;
	}
	h2 {
		color: $color-yellow;
	}
	.btn {
		border-radius: 5px;
		padding: 1rem;
		color: $color-yellow;
		cursor: pointer;
		margin-top: 2rem;
		border: none;
		background-color: $color-background;
		&:hover {
			color: $font-color-silver;
		}
	}
	.teams {
		width: 100%;
		max-width: 100vw;
		margin-top: 1rem;
		
		.redTeam,
		.greenTeam {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: center;
			padding: 0.5rem;
			width: 100%;
			margin: 0.5rem 0;
			max-width: 100vw;
		}

		.redTeam {
			background-color: $background-red;
		}

		.greenTeam {
			background-color: $backgroud-green;
		}
	}
}
