@import '../../../styles/settings.scss';

.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	.line {
		height: 2px;
		background-color: $color-yellow;
		width: 100px;
	}
}
