@import '../../../styles/settings.scss';

.root {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	height: 100px;
	padding: 0 2rem;
	background-color: $color-background;
	box-shadow: 0 4px 2px -2px $color-background-dark;
	margin-bottom: 3rem;
	img {
		height: 50px;
	}
}
