$font-family: 'Rubik', sans-serif;
$radius: 5px;

$color-background: #082344;
$color-background-dark: rgb(6, 27, 53);
$color-background-alpha: rgb(232, 243, 79, 0.2);
$color-yellow: #e8f34f;
$color-light: #fafbfc;
$font-color-silver: #f6f7f8;
