$font-family: 'Rubik', sans-serif;
$radius: 5px;

$color-background: #082344;
$color-background-dark: rgb(6, 27, 53);
$color-background-alpha: rgb(232, 243, 79, 0.2);
$color-yellow: rgb(232, 243, 79);
$color-light: rgb(250, 251, 252);
$font-color-silver: rgb(189, 190, 190);
